html,
body {
  height: 100%;
  margin: 0;
  font: 400 16px/1.9 "Lato", sans-serif;
  color: #777;
}

section {
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.stationary {
  background: gray;
}

.background-image-1,
.background-image-2,
.background-image-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.background-image-1 {
  background-image: url("https://raw.githubusercontent.com/pullmana8/Louisiana-Clean-Air/master/assets/img/aera_water_75.jpg");
  min-height: 100%;
}

.background-image-2 {
  background-image: url("https://raw.githubusercontent.com/pullmana8/Louisiana-Clean-Air/master/assets/img/est_front_white.jpg");
  min-height: 95%;
  max-height: 100%;
  height: auto;
}

.background-image-3 {
  background-image: url("https://raw.githubusercontent.com/pullmana8/Louisiana-Clean-Air/master/assets/img/est_ventus_75.jpg");
  min-height: 95%;
  height: auto;
}
